.site-footer {
  background-color: $vqeg-dark-blue;
  color: $white;
  padding: $spacing-unit * 2;
  margin-top: $spacing-unit * 3;

  a {
    color: rgba($white, 0.9);

    &:hover {
      color: $vqeg-red;
    }
  }
}

.footer-container {
  max-width: $container-max-width;
  margin: 0 auto;
  text-align: center;

  p {
    margin: 0.5em 0;
  }

  .footer-links {
    margin-bottom: 1em;

    a {
      margin: 0 0.5em;
    }
  }
}

.footer-copyright {
  font-size: $font-size-small;
  color: rgba($white, 0.7);
}
