// Tool page specific styles
.tool-meta {
  margin: $spacing-unit 0 $spacing-unit * 2;
  padding: $spacing-unit * 1.25;
  background-color: $light-gray;
  border-radius: $border-radius;
  border-left: 4px solid $vqeg-blue;

  p {
    margin: 0.5em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    color: $vqeg-blue;
  }

  i {
    color: $vqeg-blue;
    margin-right: 0.5em;
    width: 1em;
  }

  // Tags list
  a {
    &:not(.btn) {
      color: $vqeg-blue;

      &:hover {
        color: $vqeg-red;
      }
    }
  }

  // Buttons in meta section
  .btn {
    margin-top: 0.5em;
    margin-right: 0.5em;

    // Force white text and icons on buttons
    &.btn--primary,
    &.btn--success {
      color: $white !important;

      i {
        color: $white !important;
      }
    }
  }
}

// Tool content section
.tool-content {
  h2, h3, h4 {
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }
  }
}

// Edit link at top of tool page
.edit-link {
  text-align: right;
  margin-bottom: $spacing-unit;
  font-size: $font-size-small;

  a {
    color: $text-muted;

    &:hover {
      color: $vqeg-red;
    }
  }
}

// Tool tags as buttons
.tool-tags {
  margin: 0.5em 0;

  strong {
    display: block;
    margin-bottom: 0.5em;
  }
}

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  li {
    margin: 0;
  }

  a {
    display: inline-block;
    padding: 0.4em 0.8em;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    font-size: $font-size-small;
    color: $vqeg-blue !important;

    &:hover {
      background-color: $vqeg-blue;
      border-color: $vqeg-blue;
      color: $white !important;
    }
  }
}

// Broken link notice
.broken-link-notice {
  background-color: #fff3cd;
  border: 1px solid #ffc107;
  border-radius: $border-radius;
  padding: $spacing-unit;
  margin-bottom: $spacing-unit * 1.5;

  h4 {
    color: #856404;
    margin: 0 0 0.5em 0;
    font-size: 1rem;

    i {
      margin-right: 0.5em;
    }
  }

  p {
    color: #856404;
    margin: 0;
    font-size: $font-size-small;
  }

  a {
    color: #533f03;
    text-decoration: underline;

    &:hover {
      color: $vqeg-red;
    }
  }
}
